<h1 class="title1">{{appTitle}}</h1>

<div class="textIndex">
    <h3>This is {{appTitle}}</h3>
    <h5>Are you feeling lazy and you don´t want to think about what will your next meal be? Well then we have the best
        web for you! {{appTitle}} is a web where you can search between thousands of recipes from all around the world
        by filtering them by ingredient, price, type of cuisine... Just click on Recipes button and find out for
        yourself! In case you don´t know what you´re looking for here we have some random recipes!</h5>
</div>
<div class="indexButton">
    <a href="/search-recipes" class="btn btn-success">Recipes</a>
</div>

<div class="container cards card mb-2 bg-transparent" style="max-width: 100%;">
    <div class="row justify-content-center recipe-cluster">

        {{#each data.recipes}}

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-4">
                <img src={{image}} class="card-img-top cardRandom" alt="recipe">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="/recipe/{{id}}" class="btn btn-success">Check this recipe!</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>