<h1 class="title1">{{appTitle}}</h1>

<div class="textIndex">
    <h3>This is {{appTitle}}!</h3>
    <h5>{{appTitle}} is a web for ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi mollitia
        dignissimos perferendis cum commodi alias sapiente possimus officia. Ex quibusdam quae rerum sapiente labore.
        Ratione adipisci laboriosam similique iure a.</h5>
</div>

<div class="container cards card mb-2 bg-transparent" style="max-width: 100%;">
    <div class="row justify-content-center recipe-cluster">

        {{#each data.recipes}}

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-4">
                <img src={{image}} class="card-img-top cardRandom" alt="recipe">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="/recipe/{{id}}" class="btn btn-success">Check this recipe!</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>