<h2 class="title">You are seeing... {{recipe.title}}!</h2>

<div class="image">
  <img class="recipeImg" src={{recipe.image}} alt="recipe-img">
</div>


<h3 class="recipes-title">-Summary:</h3>
<div class="summary-panel">
  <p>{{{recipe.summary}}}</p>
</div>

<h3 class="recipes-title">-Ingredients:</h3>
<div class="text-ingredient">
  <div class="container">
    <div class="row">
      {{#each recipe.extendedIngredients}}
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="card mb-3" style="width: 215px; ">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{amount}} {{unit}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>

      {{/each}}
    </div>
  </div>
</div>

<h3 class="recipes-title">-This are the instructions :)</h3>
<div class="text-step">

  {{#each recipe.analyzedInstructions.[0].steps}}
  <p class="num">{{number}} <span class="span-instructions">{{step}}</span></p>

  {{/each}}
</div>


{{#if user}}
<h4 class="recipes-title">-Leave a comment!</h4>
<form action="/recipe/{{id}}" method="post">
  <div class="comment commentInput">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Subject</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3 ">
      <label for="exampleFormControlTextarea1" class="form-label">Leave your comment here!</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    {{message}}
  </div>
</form>
{{/if}}


<h4 class="recipes-title">-Users comments:</h4>
{{#unless user}}<h6 class="conditionalmsg">You can log in if you want to leave a comment :)</h6>{{/unless}}

{{#each comments}}

<div class="comment-text ms-5">
  <div class="card" style="width: 18rem; height: 150px">
    <div class="card-body">
      <h5 class="card-title text-center">{{title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">By:{{author.username}}</h6>
      <p class="card-text">{{body}}</p>
    </div>
  </div>
</div>

{{/each}}