<h2 class="title">You are seeing... {{title}}!</h2>

<div class="image">
  <img src={{recipe.image}} alt="recipe-img">
</div>
<h5 class="text">Price per serving(must divide between 100): {{recipe.pricePerServing}}$</h5>
<h3 class="recipes-title">Summary:</h3>
<div class="summary-panel">
  <p>{{{recipe.summary}}}</p>
</div>

<h3 class="recipes-title">Ingredients:</h3>
<div class="text-ingredient">
  <div class="container">
    <div class="row">
      {{#each recipe.extendedIngredients}}
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="card mb-3" style="width: 215px; ">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{amount}} {{unit}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>

      {{/each}}
    </div>
  </div>
</div>

<h3 class="recipes-title">This are the instructions :)</h3>
<div class="text-step">
  {{#each recipe.analyzedInstructions.[0].steps}}
  <p class="num">{{number}} <span class="span-instructions">{{step}}</span></p>

  {{/each}}
  <form action="/recipe/{{id}}" method="post">
  <div class="mb-3">
    <label for="">Title</label>
    <input type="text" name="title">
  </div>
  <div class="input-group">
    <span class="input-group-text">Comment</span>
    <textarea class="form-control" name="body" aria-label="With textarea"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{{!-- <form action="/recipe/{{id}}" method="post">
  <div>
    <label for="">Title</label>
    <input type="text" name="title">
  </div>
  <div class="input-group">
    <span class="input-group-text">Comment</span>
    <textarea class="form-control" name="body" aria-label="With textarea"></textarea>
  </div>
  <button type="submit">PEPE</button>
</form> --}}

{{#each comments}}

<h4>{{title}}</h4>
<p>{{author.username}}</p>
<p>{{body}}</p>

{{/each}}