<h1 class="title">You are seeing...  {{title}}!</h1>

<div class="image">
<img src={{image}} alt="recipe-img">
</div>
<h5 class="text">Price per serving(must divide between 100): {{pricePerServing}}$</h5>
<div class="summary-panel">
<p>{{{summary}}}</p>
</div>

<div>
    {{#each extendedIngredients}}
    
    <div class="card mb-3 " style="max-width: 300px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{amount}} {{unit}}</p>
       
      </div>
    </div>
  </div>
</div>
    {{/each}}
</div>

<div class="text-step">
{{#each analyzedInstructions.[0].steps}}
<p>This are the instructions :)</p>
<p class="num">{{number}}</p>
<p>{{step}}</p>
{{/each}}
</div>
